/* Start Global R.linkses  */

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #068bf7;
  --hover-color: #006ed4;
  --main-transition: .3s;
  --border-radius: 6px;
}

/* Change the color of selected text */
::selection {
  background-color: white; /* Orange background */
  color: black; /* White text color */
}
/* End Global Rules  */

